<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add category</title>
</head>
<body>
   <form action="/admin/addcategory" method="post" >
            <span>Name</span>
                    <input type="text" name="txtName" class="box" placeholder="enter catgegory" id="txtName" >
            <button type="submit" value="addcategory" class="btn"> <a href="/"></a> Submit </button>
    </form>
</body>
</html>